html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Courgette", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #10042f, #3f096a);
  overflow: hidden;
}
html,
body {
  height: 100%;
}

h1 {
  color: #f0f0f0;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}
